@font-face {
  font-family: HeaderFont;
  src: url(/src/assets/Fonts/IBMPlexSerif-Regular.ttf);
}
@font-face {
  font-family: HeaderFontSecond;
  src: url(/src/assets/Fonts/IBMPlexMono-Regular.ttf);
}
@font-face {
  font-family: Madelin;
  src: url(/src/assets/Fonts/Madelin-RegularDemo.ttf);
}

#HeaderBackground {
  background-color: #846b8a;
  height: 150px;
  width: 100%;
}

#text {
  text-align: center;
  font-size: 14px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.Buttons {
  text-align: center;
}

#labelName {
  font-size: 40px;
  padding-top: 20px;
  font-family: HeaderFontSecond;
  color: #c98bb9;
}
