.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("https://images.unsplash.com/photo-1628560946700-dde575386781?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-position: 20% 40%;
  /* background-position: center; */
  height: 600px;
  width: 1920px;
  transition: 0.8s linear;
}

.banner h2 {
  color: #f8f8f8;
}

.banner button {
  border: 0;
  background: #ffff;
  color: #222;
  padding: 10px 24px;
  border-radius: 30px;
}

.container {
  padding: 0 10%;
}
