nav {
    background-color: #e4e4e4;
    width: 100%;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0px;
    display: flex;
    width: 100%;
    margin-left: 1%;
    user-select: none;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #252525;
    padding: 10px 15px;
    display: block;
  }

nav ul li img {
  vertical-align: middle;
  padding: 10px 10px;
  margin-right: 580 px;
  

}

nav #profilePic {
  width: 20%;
  float: right;
  height: 35px;
  width: 35px;
  border: 5px solid;
  border-radius: 50%;
}


  